*{
    margin: 0;
    padding: 0;

}
body{
    width: 100%;
    height: 100vh;
    background: gray;
    color: black;
    font-family: "VCR OSD Mono";
    overflow: hidden;

}
.menu{
    position: absolute;
    top: 5%;
    right: 3%;
    transform: translate(-50%,-50%);
    z-index: 5;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline;
    transition: 0.2s;
}
.close{
    position: absolute;
    top: 5%;
    
    cursor: pointer;
    text-decoration: underline;
    right: 3%;
    transform: translate(-50%,-50%);
    z-index: 3;
    font-weight: 500;
    font-size: 15px;
    opacity: 0;
    transition: 0.2s;
}
.nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 25%;
    height: 100vh;
    background: #fff;
    transition: .6s cubic-bezier(.17,.67,.55,.92);
    transform: translateX(100%);

}
header.active .nav{
    transform: translateX(0%);
    transition: .6s cubic-bezier(.17,.67,.55,.92);
}
header.active .menu{
    opacity: 0;
}
header.active .close{
    opacity: 1;
}
.nav ul{
    list-style: none;

}
.nav ul li {
    margin: 13px 13px;

}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
}